package com.yiquwuyou.${module}.infra.basic.mapper;

import com.yiquwuyou.${module}.infra.basic.entity.${modelName};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.springframework.stereotype.Repository;

/**
 * ${tableComment} 表数据库访问层
 *
 * @author ${author}
 * @since ${genDate}
 */
@Repository
public interface ${modelName}Dao extends BaseMapper<${modelName}> {

}

